.header{
    font-weight: lighter;
    background-color: orangered;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color : whitesmoke;
    margin : 0;
}